.row {
  height: 2em;
}

.instruction {
  position: fixed;
  width: var(--instruction-width);
  height: 2em;
  padding: 0.5em;
  text-overflow: ellipsis;
  border-right: 1px solid gray;
  display: flex;
  align-items: center;
}

.bar {
  background-color: red;
}
